// Hoja de estilos principal de la zona multimedia responsive

@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);

// FONT STYLES

body{
	font-family: 'Open Sans', sans-serif;
	font-size: rem-calc(13);
	letter-spacing: rem-calc(1);
}

p{
	font-size: rem-calc(14);
	font-weight: 300;
	color: darken($white, 25%);
	strong{
		font-weight: 300;
		color: $white;
	}
}

a, a:link{
	font-family: 'Open Sans', sans-serif;
	font-size: rem-calc(14);
	color: $white;
	text-decoration: underline;
}

a:hover{
	color: $white;
}

a:visited{
	color: darken($white, 10%);
}

.normal-style{
	font-size: rem-calc(13);
	color: $white;
}

.small-style{
	font-size: rem-calc(12);
	color: $white;
}

.caption{
	text-align: center;
	font-size: rem-calc(11);
	letter-spacing: rem-calc(1);
	color: $white;
}

.caption-collections{
	margin-top: 10px;
	font-size: rem-calc(14);
}

h2{
	font-size: rem-calc(18);
	letter-spacing: rem-calc(3);
	color: $white;
}

#collection-page h2{
	font-family: 'EB Garamond', serif;
	font-size: rem-calc(30);
	font-weight: 300;
	letter-spacing: rem-calc(10);
}

h3{
	font-size: rem-calc(17);
	letter-spacing: rem-calc(3);
	color: $white;
}

.orbit-wrapper h3{
	font-family: 'EB Garamond', serif;
	font-size: rem-calc(16);
	color: $white;
}

h4{
	font-family: 'EB Garamond', serif;
	font-size: rem-calc(18);
	color: $white;	
}

h5{
	font-size: rem-calc(13);
	letter-spacing: 0.1em;
	color: $white;
}

h6{
	font-size: rem-calc(12);
	letter-spacing: 0.1em;
	margin: 5px 0px;
	color: $white;
}

abbr{
	font-size: rem-calc(11);
	color: $white;
}

// Tech Styles

.tech-details{
	font-size: rem-calc(13);
	b{
		font-style: italic;
		color: darken($white, 20%)
	}
}

// Form styles

select{
	font-size: rem-calc(12);
}
