
<div class="banner-collection row">

	<div class="row">
		<div class="large-12 columns">

			<div class="slideshow-wrapper">

				<ul data-orbit>
					<li ng-repeat="slide in sliderCityCaractere">
					    <img src="images/collections/city/ego/{{slide.image}}" alt="{{slide.title}}" />
					    <h4>{{slide.title}}</h4>
					 </li>
				</ul>

			</div>

		</div>
	</div>

</div>

<p>Its architectural dial tastefully suggesting a Roman amphitheater characterizes this timepiece. A plunging structure with sapphire numbers supported by the flange and slightly pushed towards the center giving the impression of floating numerals.</p>

<p>The City Ego Caractère, is presented in a pink gold case giving it a far more sophisticated appearance than the Titanium version. A real watch the modern city man. 
This automatic winding watch features a three-hand movement and date aperture.
</p>