
<div class="banner-collection row">

	<div class="row">
		<div class="large-12 columns">

			<div class="slideshow-wrapper">

				<ul data-orbit>
					<li ng-repeat="slide in sliderCityEpisode">
					    <img src="images/collections/city/ego/{{slide.image}}" alt="{{slide.title}}" />
					    <h4>{{slide.title}}</h4>
					 </li>
				</ul>

			</div>

		</div>
	</div>

</div>

<p>Always elegant and sporty, this timepiece is crafted in precious metals: a fusion of titanium PVD and pink gold.</p>
<p>The anthracite case and dial bring a splendid highlight to the red outlines around the push buttons.</p>
<p>The new dial indicates the days of the week and days of the month at 3 o’clock.</p>
<p>The City Episode is a way to achieve elegance and sobriety, while remaining faithful to the dynamic and sophisticated spirit of deLaCour.</p>