<div class="social-group">
	<div class="social-background"></div>
	<div class="social-btns">

		<h6>{{url}}</h6>

		<div class="fb-share-button" data-href="http://delacour.ch/collections/bichrono" data-type="link"></div>

		<a href="http://twitter.com/share?hashtags={{tag}}&text={{description}}&via=delacourWatches" target="_blank"><i class="fi-social-twitter btn-twitter"></i></a>

		<a href="http://www.pinterest.com/pin/create/button/?url={{url}}&media={{image}}&description=blasdfsdf" target="_blank" data-pin-do="buttonPin" data-pin-config="above"><i class="fi-social-pinterest btn-pinterest"></i></a>

	</div>
</div>