
<div class="row">

	<div class="main large-12 large-centered columns">

		<h3>The Bichrono</h3>
		<a href="collection/catalogue/bichrono"><h3 class="tp-button right">BICHRONO CATALOGUE</h3></a>
		<hr>
		<article class="normal-style">
		
			<p>The Bichrono is the first timepiece released by deLaCour and sets the tone for future lines. An innovative dual time-zone watch powered by two independent chronograph movements set in the stunning oversized tonneau shaped case. The original Bichrono timepiece comes with a titanium dial and two automatic caliber DC241 movements. They have a power reserve of 37 hours and houses 33 jewels. Beating at 28.800 vibrations per hour, the movement features blued rotors, engraved balances.</p>

			<div class="large-12 columns" id="bichronoSaga-btn">
				<a href="collection/bichrono/bichrono-saga"><img src="images/collections/bichrono/bichronoSaga.png"></a>
			</div>

			<p>The Bichrono was nominated in the best design category by the Geneva Watch making Grand Prix upon the brands unveiling in 2003. A year later it won a Unique Design Watch of the year award in Tokyo.</p>

			<p>Not only a pioneer in its novel use of dual chronographs, the materials used to produce the different dials has been a product of constant research and innovation. World premiers, such natural precious wood (The Bichrono Hommage), pulverized asphalt (Bichrono Asphalt) and Tobacco leaf (Bichrono Fidelidad) are among these novel materials.</p>

			<br>

			<div class="row">
				<div class="large-12 columns">

					<div class="slideshow-wrapper">

					<ul data-orbit>
					  <li data-orbit-slide="headline-1">
					    <img src="images/collections/bichrono/slider/BichronoSII2015.jpg" alt="Bichrono SII 2015" />
					    <h4>Bichrono SII - v.2015</h4>
					  </li>
					  <li data-orbit-slide="headline-1">
					    <img src="images/collections/bichrono/slider/BichronoSII2015_2.jpg" alt="Bichrono SII 2015" />
					    <h4>Bichrono SII Black - v.2015</h4>
					  </li>
					  <li data-orbit-slide="headline-1">
					    <img src="images/collections/bichrono/slider/BichronoSII2014.jpg" alt="Bichrono SII 2014" />
					    <h4>Bichrono SII - v.2014</h4>
					  </li>
					  <li data-orbit-slide="headline-2">
					    <img src="images/collections/bichrono/slider/BichronoTechPerspectiva.jpg" alt="Bichrono Tech" />
					    <h4>Bichrono Tech</h4>
					  </li>
					  <li data-orbit-slide="headline-3">
					    <img src="images/collections/bichrono/slider/BichronoTechDial.jpg" alt="Bichrono Tech Dial" />
					    <h4>Bichrono Tech Dial</h4>
					  </li>
					  <li data-orbit-slide="headline-4">
					    <img src="images/collections/bichrono/slider/BichronoSIIPinkGold.jpg" alt="Bichrono SII Pink Gold" />
					    <h4>Bichrono SII Pink Gold</h4>
					  </li>
					  <li data-orbit-slide="headline-5">
					    <img src="images/collections/bichrono/slider/BichronoRafaga.jpg" alt="Bichrono Ráfaga" />
					    <h4>Bichrono Ráfaga</h4>
					  </li>
					  <li data-orbit-slide="headline-6">
					    <img src="images/collections/bichrono/slider/BichronoRafagaDetail.jpg" alt="Bichrono Ráfaga" />
					    <h4>Bichrono Ráfaga</h4>
					  </li>
					</ul>

					</div>

				</div>
			</div>

			<br>

		</article>	
	</div>

</div>
