

<div class="row">

	<div class="main large-12 large-centered columns">

		<h3>The Birepetition - <i>presented in 2007</i></h3>
		<a href="collection/catalogue"><h3 class="tp-button right">TIMEPIECE CATALOGUE</h3></a>
		<hr>
		<article class="normal-style">
		
				<p>In 2007 Pierre decided to present another complicated movement to Claret, the Birepetition, deLaCour’s leading edge, world first movement. The minute repeater is a complex and entirely mechanical system, which strikes only on demand; the hands indicate all the hours, quarters and minutes. It features two differently sized hammers and striking gongs, to produce contrasting sonorities and vibrations. The world may never have enjoyed the delights of the repeater timepiece, the history followed the paths of logic rather than the fascination for the mechanical wonder that is the repeating watch movement.
				</p>

				<p>Unveiled during Baselworld, this amazing watch marked a historical milestone for deLaCour. For the first time in watchmaking, a single mechanism fully integrated offers two different minute repeaters, one for the local time and the other for the second time zone. Patented from the very beginning, this technical innovation represented a challenge for engineers and technicians who struggled during months to find a reliable way to express a GMT function with sounds. The tones were deeply investigated with and advanced study of sound effects. Well known for the attention he puts in every details, Christophe Claret set the manual caliber with cathedral chiming.</p>

				<div class="figure">
					<img src="images/collections/birepetition/odysseyBirepetition.jpg" />
					<div class="caption">The Birepetition Odyssey</div>
				</div>

				<p>The resonance of this kind of caliber is very highly considered among connoisseurs. They need extra length to go around the movement twice in order to produce sonorities of greater resonance. This particular structure has a side effect, an uncommon noise if they strike. To solve this problem the engineers developed an exclusive patented system.</p>

				<p>Assembling all these different components represented an additional challenge, due to the reduced space available. In spite of this matter and all the functions displayed, the caliber, named DC288 (protected under patent EP1 770 453) has remarkable proportions: 27.6 mm in diameter and 12.1 mm in height.</p>

				<p>To complete the Birepetition’s stunning dial, a star partly hidden (as the stars look like in a night in the mountains) shoots across the moon phase every six minutes: pure mechanical poetry.</p>

				<div class="image-video figure">
					<img src="images/videos/birepetition.jpg" />
					<div class="caption">The Birepetition</div>
					<a href="javascript:showVideo()"><p class="btn-play">play</p></a>
				</div>

				<div id="video" class="flex-video">
				  <iframe width="900" height="675" src="http://www.youtube.com/embed/bC9COzSbL9I?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>

				<p>Assembling all these different components represented an additional challenge, due to the reduced space available. In spite of this matter and all the functions displayed, the caliber, named DC288 (protected under patent EP1 770 453) has remarkable proportions: 27.6 mm in diameter and 12.1 mm in height.</p>

				<p>To complete the Birepetition’s stunning dial, a star partly hidden (as the stars look like in a night in the mountains) shoots across the moon phase every six minutes: pure mechanical poetry.</p><br />
				

	<p><strong>TECHNICAL DETAILS:</strong></p>

				<ul class="tech-details">
					<li><b>Dimensions:</b> 56 x 59 x 16 mm</li>
					<li><b>Case Material:</b> 18k Rose Gold</li>
					<li><b>Bezel Material:</b> 18k Rose Gold</li>
					<li><b>Crystal:</b> Sapphire glass with antireflective coating</li>
					<li><b>Movement:</b> Mechanical DC 294</li>
					<li><b>Power Reserve:</b> 50 Hours</li>
					<li><b>Functions/Dial:</b> Bell, dual time (dual retrograde), large date, lunar dial, shooting star and dual repeater</li>
					<li><b>Bracelet:</b> Crocodile with 18k Rose Gold clasp</li>
					<li><b>Water Resistant:</b> 3atm/30meters/98feet</li>
					<li><b>Limited Edition:</b> Made to order</li>
				</ul>
		</article>

	</div>

</div>