
<div class="row">

	<div class="main large-12 large-centered columns">

		<h3>The Bitourbillon - <i>presented in 2004</i></h3>
		<a href="collection/catalogue"><h3 class="tp-button right">TIMEPIECE CATALOGUE</h3></a>
		<hr>

		<div class="small-12 columns video-head">
			<video loop="loop" poster="videos/bitourbillon/bitourbillon.png" autoplay="">
				<source src="videos/bitourbillon/bitourbillon.webm" type="video/webm"> 
				<source src="videos/bitourbillon/bitourbillon.m4v" type="video/mp4">
			</video>
		</div>

		<article class="normal-style">
				<p>Behind the <strong>Bitourbillon</strong>’s innovative technical and mechanical achievement lies a romantic, philosophical and poetic message on the duality of human beings.</p>

				<div class="slideshow-wrapper">

					<ul data-orbit>
						<li>
						    <img src="images/collections/bitourbillon/slider/bitourbillon2_.jpg" alt="Bitourbillon" />
						 </li>
						 <li>
						    <img src="images/collections/bitourbillon/slider/bitourbillon_detalle.jpg" alt="Bitourbillon" />
						 </li>
						<li>
						    <img src="images/collections/bitourbillon/slider/bitourbillon_.jpg" alt="Bitourbillon" />
						 </li>
						 <li>
						    <img src="images/collections/bitourbillon/slider/bitourbillon2dibujo_.jpg" alt="Bitourbillon" />
						 </li>
						 <li>
						    <img src="images/collections/bitourbillon/slider/bitourbillon2dibujo_fondo.jpg" alt="Bitourbillon" />
						 </li>
						 <li>
						    <img src="images/collections/bitourbillon/slider/btb-fondo-aguila.jpg" alt="Bitourbillon" />
						 </li>
						 
					</ul>

				</div>

				<p>We begin with the earth, our reality; represented in the inferior part of the dial by two tourbillons face to face, one revolving round the other as a great symbol of our existence, yin and yang, day and night, the two hemispheres of the earth, the daily cycles: one dynamic and the other active, one calm and the other placid. We experience synchronicity, two parallel universes, with different lives, symbolized by two independent time zones.</p>

				<div class="figure">
					<img src="images/collections/bitourbillon/odysseyBitourbillon.jpg" />
					<div class="caption">The Bitourbillon Odyssey</div>
				</div>

				<p>We are then drawn into a world of mysticism, by means of a sphere that crowns the <strong>Bitourbillon</strong> dial. This circular window harbours a microcosm that symbolizes astrology, the energies influenced by the moon, wishes made on a shooting star…. the agents of destiny.</p><br />

				<br />

				<div class="figure">
					<img src="images/collections/bitourbillon/dc297.jpg" />
					<div class="caption">Calibre dC 297</div>
				</div>

				<br />

				<p><strong>TECHNICAL DETAILS:</strong></p>

				<ul class="tech-details">
					
					<li><b>Calibre:</b> DC297, double floating tourbillon movement couple by means of a differential (the two tourbillons rotate in opposing directions on the same differential)</li>

					<li><b>Balance spring:</b> Flat</li>

					<li><b>Frequency:</b> 3Hz</li>

					<li><b>Dimensions:</b> 40x33 mm (bottom plate)</li>

					<li><b>Thickness:</b> 11.9mm</li>

					<li><b>Indications:</b> Hours and minutes of local time and GMT time, Jump hour, seconds on the tourbillons, moon phase (accuracy 29.5days)</li>

					<li><b>Power Reserve:</b> Approximately 40 hours</li>

					<li><b>Shooting star mechanism:</b> Metallic shooting star on the moon phase indicator on a sapphire disk that appears at regular intervals of 6 minutes</li>

					<li><b>Number of jewels:</b> 78</li>

				</ul><br />
  
				<p>The Bitourbillon is, by its nature, unique. These exclusive timepieces will never be assigned serial numbers, each will be individually named to represent the personality and unique identity of each piece.</p>

				<p>With two floating tourbillons, dual time zone, a shooting star moon phase, the deLaCour Bitourbillon is a world premiere.</p><br />

				<p class="center"><strong>WORLD PREMIERE PATENT CH 02003/04</strong><br />
					deLaCour Bitourbillon<br />
					caliber DC297
				</p>

				<div class="image-video figure">
					<img src="images/videos/bitourbillon.jpg" />
					<div class="caption">The Bitourbillon</div>
					<a href="javascript:showVideo()"><p class="btn-play">play</p></a>
			</div>

			<div id="video" class="flex-video">
			  <iframe width="900" height="675" src="https://www.youtube.com/embed/6QefPqT05z0?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>

		</article>

	</div>

</div>