
<div class="row">

	<div class="main large-12 large-centered columns">

		<h3>The City</h3>
		<a href="collection/catalogue/city"><h3 class="tp-button right">CITY CATALOGUE</h3></a>
		<hr>

		<div class="banner-collection row">

			<nav class="large-12 columns">
				<ul class="row">
					<li class="large-4 columns">
						<figure>
							<a href="collection/city/sun-and-love"><img src="images/collections/city/banner/sunAndLove.jpg"></a>
							<figcaption>The City Cadet II "Sun and Love"</figcaption>
						</figure>
					</li>
					<li class="large-4 columns">
						<figure>
							<a href="collection/city/caractere"><img src="images/collections/city/banner/cityEgo.jpg"></a>
							<figcaption>The City Collection</figcaption>
						</figure>
					</li>
					<li class="large-4 columns">
						<figure>
							<a href="collection/city/customize-episode"><img src="images/collections/city/banner/cityEpisode.jpg"></a>
							<figcaption>Customize City Episode</figcaption>
						</figure>
					</li>
				</ul>
			</nav>

		</div>

		<article class="normal-style">
			<br>
			<p>Since its launch in 2004, the city line has proven to be one of the most versatile of the deLaCour lines. The curved silhouette of the case embodies the concept behind the design: Chic, City, and Contemporary: the quintessence of "Urban Chic".</p>

			<div class="row">
				<div class="large-12 columns">
					<div class="slideshow-wrapper">

					<ul data-orbit>
					  <li ng-repeat="slide in sliderCity" data-orbit-slide="headline-{{$index+1}}">
					    <h4>{{slide.title}}</h4>
					    <img src="images/collections/city/slider/{{slide.image}}" alt="{{slide.title}}" />
					  </li>
					</ul>

					</div>
				</div>
			</div>

			<p>Inspired by the human body shape, and more specifically, the hips, the City Line has been created for the active individual whose daily arena is the urban environment.</p>

			<div class="image-video figure">
					<img src="images/videos/cityInspiration.jpg" />
					<div class="caption">The City Inspiration</div>
					<a href="javascript:showVideo()"><p class="btn-play">play</p></a>
			</div>

			<div id="video" class="flex-video">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/AyOgDwTul3c?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>

			<p>From City Medium (46x52 mm) to City Cadet (41x47 mm) and City Lady (37x35 mm), the different and often unisex models carry understated elegance or unique extravagance, playfulness or sobriety. deLaCour delivers a timepiece tailored to match the needs and aesthetic taste of each individual.</p>

		</article>	
	</div>

</div>

