
<div class="row">

<div class="main large-12 large-centered columns">

	<h3>The City Ego Triplezone - <i>presented in 2009</i></h3>
	<a href="collection/catalogue"><h3 class="tp-button right">TIMEPIECE CATALOGUE</h3></a>
	<hr>
	<article class="normal-style">

	<p>Contrasting materials come together in a multilayered combination of 18k white or pink gold against a cool titanium centre, lending to its unique and distinctive charm. The model’s unmistakable identity is apparent in the signature features of the curved case, the round edges and extended lugs.</p>

	<p>Ever faithful to their "<strong>Since Tomorrow</strong>" trademark philosophy the <strong>City Ego Triplezone</strong> showcases the creativity, innovation and ingenuity of the deLaCour brand.</p>

	<aside class="figure">
		<img src="images/collections/triplezone/triplezoneGold.jpg" />
		<div class="caption">The City Ego Triplezone</div>
	</aside>


	<p><b>TECHNICAL DETAILS:</b></p>

	<ul class="tech-details">
		<li><b>Dimensions:</b> 56 x 59 x 16 mm</li>
		<li><b>Case Material:</b> Titanium / 18k Rose Gold</li>
		<li><b>Bezel Material:</b> Titanium / 18k Rose Gold</li>
		<li><b>Crystal:</b> Sapphire glass</li>
		<li><b>Movement:</b> Mechanical Tourbillon DC 299</li>
		<li><b>Power Reserve:</b> 120 Hours</li>
		<li><b>Functions/Dial:</b>Three time zone</li>
		<li><b>Bracelet:</b> Crocodile with 18k Rose Gold clasp</li>
		<li><b>Water Resistant:</b> 3atm/30meters/98feet</li>
		<li><b>Limited Edition:</b> Made to order</li>
	</ul>

	</article>

</div>

</div>