<div class="row">

	<div class="main large-12 large-centered columns">

		<h3>The City Cadet II "Sun and Love"</h3>
		<a href="collection/catalogue/city"><h3 class="tp-button right">CITY CATALOGUE</h3></a>
		<hr>

		<article class="normal-style">
			<br>

			<div class="row">
				<div class="large-12 columns">

					<div class="slideshow-wrapper">

					<ul data-orbit>
					  <li data-orbit-slide="headline-1">
					    <img src="images/collections/city/sun-and-love/sunAndLoveFront.jpg" alt="The City Cadet II 'Sun and Love'" />
					  </li>
					  <li data-orbit-slide="headline-2">
					    <img src="images/collections/city/sun-and-love/sunAndLoveBack.jpg" alt="The City Cadet II 'Sun and Love'" />
					  </li>
					  <li data-orbit-slide="headline-3">
					    <img src="images/collections/city/sun-and-love/sunAndLoveDetail.jpg" alt="The City Cadet II 'Sun and Love'" />
					  </li>
					</ul>

				</div>

				</div>
			</div>

			<p>The City Cadet II has been refined; its case edges and thickness have been reduced, giving this timepiece more sophistication and style.</p>

			<p>An inner bezel around the perimeter of the dial accentuates the beauty of this watch. The back has a smoky sapphire crystal which allows the wearer to admire its automatic movement.</p>

			<p>The City Cadet II "Sun and Love" is the subtle fusion of two symbols in
perfect harmony. The bezel of the watch is set to the end of the lugs. The inner bezel is set with diamonds and accentuates the glow of
the dial.</p>

		</article>

	</div>
</div>