<!-- City Episode -->

<div class="row main">

	<div class="large-12 large-centered columns">

		<h3>The City Episode</h3>
		<a href="collection/catalogue/city"><h3 class="tp-button right">CITY CATALOGUE</h3></a>
		<hr>

		<div class="customize-watch large-12 columns">

			<img src="images/collections/city/episode/blue.png" alt="" class="componente piedras" id="blue" />
			<img src="images/collections/city/episode/pink.png" alt="" class="componente piedras" id="pink" />
			<img src="images/collections/city/episode/white.png" alt="" class="componente piedras" id="white" />
			<img src="images/collections/city/episode/yellow.png" alt="" class="componente piedras" id="yellow" />
				
			<img src="images/collections/city/episode/base.jpg" alt="" id="base"/>

			<div class="row palette-wrap">

				<ul class="large-12 columns palette">
					<li class="palette-btn piedra-btn" draggable="true" data-componente="piedra" id="blue-btn"></li>
					<li class="palette-btn piedra-btn" data-componente="piedra" id="yellow-btn"></li>
					<li class="palette-btn piedra-btn" data-componente="piedra" id="pink-btn"></li>
					<li class="palette-btn piedra-btn" data-componente="piedra" id="white-btn"></li>
				</ul>

			</div>

		</div>

	</div>

</div>
