 <div class="row main">

  <div class="large-12 columns centered">

    <h3>Leap Medium Baguette</h3>
    <hr>

    <div class="row">
	    <div class="customize-watch large-12 columns">

			<img src="images/collections/city/leap-baguette/blue.png" alt="" class="componente piedras" id="blue" />
			<img src="images/collections/city/leap-baguette/green.png" alt="" class="componente piedras" id="green" />
			<img src="images/collections/city/leap-baguette/white.png" alt="" class="componente piedras" id="white" />
			<img src="images/collections/city/leap-baguette/yellow.png" alt="" class="componente piedras" id="yellow" />
					
			<img src="images/collections/city/leap-baguette/base.jpg" alt="" id="base"/>
		</div>
	</div>

	<div class="row">
		<div  class="large-12 columns palette">
			<ul>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="blue-btn"></li>
					<li class="palette-btn piedra-btn" data-componente="piedra" id="green-btn"></li>
					<li class="palette-btn piedra-btn" data-componente="piedra" id="white-btn"></li>
					<li class="palette-btn piedra-btn" data-componente="piedra" id="yellow-btn"></li>
			</ul>
		</div>
	</div>

	</div>
    	
  </div>
  
</div>