 <div class="row main">

  <div class="large-12 columns centered">

    <h3>Leap Medium Passsion</h3>
    <hr>

    <div class="row">
	    <div class="customize-watch large-12 columns">

				<img src="images/collections/city/leap-passion/green.png" alt="" class="componente piedras" id="green" />
				<img src="images/collections/city/leap-passion/pg.png" alt="" class="componente material" id="pg" />
				<img src="images/collections/city/leap-passion/pink.png" alt="" class="componente piedras" id="pink" />
				<img src="images/collections/city/leap-passion/pvd.png" alt="" class="componente material" id="pvd" />
				<img src="images/collections/city/leap-passion/steel.png" alt="" class="componente material" id="steel" />
				<img src="images/collections/city/leap-passion/white.png" alt="" class="componente piedras" id="white" />
				<img src="images/collections/city/leap-passion/yellow.png" alt="" class="componente piedras" id="yellow" />
					
				<img src="images/collections/city/leap-passion/base.jpg" alt="" id="base"/>
		</div>
	</div>
	<div class="row">
		<div  class="large-6 columns palette">
			<ul>
				<li class="palette-btn material-btn" data-componente="material" id="pg-btn"></li>
				<li class="palette-btn material-btn" data-componente="material" id="pvd-btn"></li>
				<li class="palette-btn material-btn" data-componente="material" id="steel-btn"></li>
			</ul>
		</div>
		<div  class="large-6 columns palette">
			<ul>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="green-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="pink-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="white-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="yellow-btn"></li>
			</ul>
		</div>
	</div>

	</div>
    	
  </div>
  
</div>