
 <div class="row main">

  <div class="large-12 columns centered">

    <h3>The Leap</h3>
    <a href="collection/catalogue/leap"><h3 class="tp-button right">LEAP CATALOGUE</h3></a>
    <hr>

    	<div class="banner-collection row">

			<nav class="large-12 columns large-centered">
				<ul class="row">
					<li class="large-4 columns">
						<figure>
							<a href="collection/leap/snow" ng-click="setRoute('leap-medium-snow')"><img src="images/collections/leap/banner/snow.jpg"></a>
							<figcaption>Customize The Leap S</figcaption>
						</figure>
					</li>
					<li class="large-4 columns">
						<figure>
							<a href="collection/leap/baguette" ng-click="setRoute('leap-medium-baguette')"><img src="images/collections/city/banner/cityLeapBaguette.jpg"></a>
							<figcaption>Customize The Leap Baguette</figcaption>
						</figure>
					</li>
					<li class="large-4 columns">
						<figure>
							<a href="collection/leap/passion" ng-click="setRoute('leap-medium-passion')"><img src="images/collections/city/banner/cityLeapPassion.jpg"></a>
							<figcaption>Customize The Leap Passion</figcaption>
						</figure>
					</li>
				</ul>
			</nav>

		</div>

    </div>

  </div>

<div class="row main">

	<div class="large-12 columns centered">

		<article class="normal-style model-block">

			<h4>The Leap S</h4>

			<p>The Leap Classic has led the way as deLaCour's first slim and more wearable timepiece. The Leap Classic has an enigmatic new design, donning a variety of colored baguette sapphires as well as round diamonds accenting the dial, making this timepiece a favorite high-end accessory for the urban-chic.</p>

			<p>Adorning the dial is a combination of atrina vaxilum extra white, which help exalt the Roman numbers. Three hands show the hour, minute and seconds.</p>

			<p>The Leap Classic is made up of 18K rose gold case and a black or colored hand-stitched crocodile band.</p>

			<div class="slideshow-wrapper">

					<ul data-orbit>
						<li>
						    <img src="images/collections/leap/snow/slider/snowPink.jpg" alt="Bichrono SII" />
						 </li>
						  <li>
						    <img src="images/collections/leap/snow/slider/snowBlue.jpg" alt="Bichrono S3" />
						  </li>
						  <li>
						    <img src="images/collections/leap/snow/slider/snowWhite.jpg" alt="Bichrono S3 Asphalt" />
						  </li>
					</ul>

				</div>

			</article>

		<article class="normal-style model-block">

			<h4>The Leap Classic</h4>

			<p>Infinitely radiant and feminine, the Leap S Snow slips into a refined winter coat. Very glamorous in its fully set versions, from the dial to the tip of its horns, the Leap S Snow was made to enchant and dazzle its owner.</p>

			<p>The pink gold case holds a diamond set dial enhanced by pink, blue or yellow sapphires making this timepiece sparkle and shine on every occasion.</p>

			<p>No less than 3.25 cts diamonds and approx. 1cts sapphires were carefully selected and placed skillfully on this timeless watch making it lusciously feminine. </p>

			<img src="images/collections/city/leap/cityLeapClassic.jpg" alt="City Leap Classic" />

			</article>

			<br>

			<article class="normal-style model-block">

			<h4>The Leap Passion</h4>

			<p>A passion can any powerful or compelling emotion, feeling or desire.; an instance or experience of strong love or longing. To please or devote, to lust and crave is what the Leap Passion promulgates.</p>

			<p>As in an arduous affair, with an exchange of different prurient emotions, the Leap Passion pleases with a variety of colored stones, diamonds and dark slate dials, which exalt the pavé epicenter, or heart, of this timepiece collection.</p>

			<img src="images/collections/city/leap/cityLeapPassion.jpg" alt="City Leap Passion" />

		</article>

</div>

