 <div class="row main">

  <div class="large-12 columns centered">

    <h3>The Leap S Snow</h3>
    <hr>

    <div class="row">
	    <div class="customize-watch large-12 columns">

	    	<img src="images/collections/leap/snow/black.png" alt="" class="componente piedras" id="black" />
			<img src="images/collections/leap/snow/blue.png" alt="" class="componente piedras" id="blue" />
			<img src="images/collections/leap/snow/brown.png" alt="" class="componente piedras" id="brown" />
			<img src="images/collections/leap/snow/pink.png" alt="" class="componente piedras" id="pink" />
			<img src="images/collections/leap/snow/white.png" alt="" class="componente piedras" id="white" />
			<img src="images/collections/leap/snow/yellow.png" alt="" class="componente piedras" id="yellow" />
					
			<img src="images/collections/leap/snow/base.jpg" alt="" id="base"/>
		</div>
	</div>
	<div class="row">
		<div  class="large-12 columns palette">
			<ul>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="black-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="blue-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="brown-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="pink-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="white-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="yellow-btn"></li>
			</ul>
		</div>
	</div>

	<p>Infinitely radiant and feminine, the Leap S Snow slips into a refined winter coat. Very glamorous in its fully set versions, from the dial to the tip of its horns, the Leap S Snow was made to enchant and dazzle its owner.</p>

	<p>The pink gold case holds a diamond set dial enhanced by pink, blue or yellow sapphires making this timepiece sparkle and shine on every occasion.</p>

	<p>No less than 3.25 cts diamonds and approx. 1cts sapphires were carefully selected and placed skillfully on this timeless watch making it lusciously feminine. </p>

	</div>
    	
  </div>
  
</div>