<div class="row vitrail-content">

	<div class="main large-12 large-centered columns">

		<h3>The Promess Vitrail</h3>
		<a href="collection/catalogue/promess"><h3 class="tp-button right">PROMESS CATALOGUE</h3></a>
		<hr>

		<!-- <img src="images/collections/promess/vitrail/green_reverse.gif"> -->
		<div class="small-12 columns video-head">
			<video loop="loop" poster="videos/vitrail/vitrail.png" autoplay="">
				<source src="videos/vitrail/vitrail.webm" type="video/webm"> 
				<source src="videos/vitrail/vitrail.mp4" type="video/mp4">
			</video>
		</div>

		<article class="normal-style">
			<p>A newcomer in <a href="#/collections">deLaCour Collection</a>: the Promess Vitrail combines beauty and fantasy to the most exquisite and precious gems. Like a stain glass window, this timepiece allows the surrounding light to freely influence the luster of the dial.</p>

			<p>Designed to enhance the fluidity of its shape, this new watch is presented in a round pink gold case; set from the bezel to the tip of its horns.</p>

			<p>The diamond set dial inspires an unequaled sense of jewelry elegance.</p>

			<div class="row">
				<div class="large-12 columns">

					<div class="slideshow-wrapper">

					<ul data-orbit>
					  <li data-orbit-slide="headline-1">
					    <img src="images/collections/promess/vitrail/vitrailWhiteDetail.jpg" alt="The Promess Vitrail White" />
					  </li>
					  <li data-orbit-slide="headline-2">
					    <img src="images/collections/promess/vitrail/vitrailRedDetail.jpg" alt="The Promess Vitrail Red" />
					  </li>
					  <li data-orbit-slide="headline-3">
					    <img src="images/collections/promess/vitrail/vitrailBluePerfil.jpg" alt="The Promess Vitrail Blue" />
					  </li>
					  <li data-orbit-slide="headline-4">
					    <img src="images/collections/promess/vitrail/vitrailBlueDetail.jpg" alt="The Promess Vitrail Blue" />
					  </li>
					</ul>

				</div>

				</div>
			</div>

			<p>Each flower shown on the dial consists of four pear-shaped diamonds, a simple but very graceful composition, encircled by round-shaped diamonds. The gems are meticulously chosen in order to obtain an immaculate splendor; set in an intricate fashion worthy of the greatest craftsmanship.</p>

			<p>The diamonds stand out thanks to a backdrop of carefully selected gems, creating an intense three-dimensional effect of twinkling lights. The total diamond settings amount 2.65cts.</p>

			<p>There are other versions of the Promess Vitrail available. Always bedded on a fine diamond backdrop, the flowers are featured in aquamarines, amethysts, white diamonds, emeralds, peridots, rubies, pink tourmalines and blue sapphires.</p>
			<br>
			<p><strong>TECHNICAL DETAILS:</strong></p>

				<ul class="tech-details">
					<li><strong>Dimensions:</strong> 40 x 47.5 x 9 mm</li>
					<li><strong>Case Material:</strong> Steel, rose gold or steel with rose gold bezel.</li>
					<li><strong>Glass:</strong> Sapphire</li>
					<li><strong>Movement:</strong> DC 221</li>
					<li><strong>Dial:</strong> Always bedded on a fine diamond backdrop, the flowers are featured in aquamarines, amethysts, white diamonds, emeralds, peridots, rubies, pink tourmalines and blue sapphires.</li>
					<li><strong>Bracelet:</strong> Hand-stitched crocodile or steel.</li>
					<li><strong>Water Resistant:</strong> 5atm/50meters/164feet</li>
					<li>Limited Edition.</li>
				</ul>

		</article>

	</div>
</div>