
<div class="row">

	<div class="main large-12 large-centered columns">

 	<h3>The Promess</h3>
 	<a href="collection/catalogue/promess"><h3 class="tp-button right">PROMESS CATALOGUE</h3></a>
	<hr>

		<div class="row banner-collection">
 
       	<nav class="large-12 columns large-centered">
				<ul class="row">
					<li class="small-4 columns">
						<figure>
							<a href="collection/promess/reef-saver" ng-click="setRoute('promess-reef-saver')"><img src="images/collections/promess/banner/promessReefSaver.jpg"></a>
							<figcaption>The Promess Reef Saver</figcaption>
						</figure>
					</li>
					<li class="small-4 columns">
						<figure>
							<a href="collection/promess/vitrail" ng-click="setRoute('promess-vitrail')"><img src="images/collections/promess/banner/promessVitrail.jpg"></a>
							<figcaption>The Promess Vitrail</figcaption>
						</figure>
					</li>
					<li class="small-4 columns">
						<figure>
							<a href="collection/promess/glamour" ng-click="setRoute('promess-glamour')"><img src="images/collections/promess-glamour/banner/promessBaguette.jpg"></a>
							<figcaption>Customize your Promess Glamour</figcaption>
						</figure>
					</li>
				</ul>
		</nav>

	</div>

</div>

</div>

<div class="row main">

	<div class="large-12 columns centered">

		<article class="normal-style">

			<div class="row">
				<div class="large-12 columns">

					<div class="slideshow-wrapper">

					<ul data-orbit>
					  <li data-orbit-slide="headline-1">
					    <h3>Promess lady Gold</h3>
					    <img src="images/collections/promess/slider/promessLadyPG.jpg" alt="Promess Lady Gold" />
					  </li>
					  <li data-orbit-slide="headline-5">
					    <h3>Promess Glamour Steel</h3>
					    <img src="images/collections/promess-glamour/slider/PromessGlamourSteel.jpg" alt="Promess Glamour Steel" />
					  </li>
					  <li data-orbit-slide="headline-6">
					    <h3>Promess Glamour Pink Gold</h3>
					    <img src="images/collections/promess-glamour/slider/PromessGlamourPG.jpg" alt="Promess Glamour Pink Gold" />
					  </li>
					  <li data-orbit-slide="headline-7">
					    <h3>Promess Glamour Colors</h3>
					    <img src="images/collections/promess-glamour/slider/promessGlamour_yellow.jpg" alt="Promess Glamour Colors" />
					  </li>
					  <li data-orbit-slide="headline-8">
					    <h3>Promess Glamour Colors</h3>
					    <img src="images/collections/promess-glamour/slider/PromessGlamourSteel_colors.jpg" alt="Promess Glamour Colors" />
					</ul>

				</div>

				</div>
			</div>

			<p>A promise is a powerful thing; we send forth our intentions calling on those around us to witness our determination and resolve. Love is bound by worldly promises. They calm our fears, and reassure us of the future. We choose to believe in them time and time again. We make promises and bind ourselves to adventures of nobility and exertion, for glory or success.</p>

			<p>A single promise can change the world; what power our commitment can unleash. It is as natural as the promise of summer, of better times and bountiful harvests.</p>

			<p>deLaCour gifts their own Promess and introduces The Promess Collection.</p>

			<p>What will your Promess be?</p><br />

			<h3>The Promess Glamour</h3>

			<p>The sleek curves of the case are offset by angled planes defining the many personalities of this versatile line.</p>

			<p>Diamonds, Rubies, Peridots, Iolites, Citrines, Pink Tourmalines and Amethysts make up the dials of the Promess Baguette.</p>

			<p>Alluring, candy-colored combinations expose a sophisticated artistry in an amphitheater of precious stones and metals inspired to dress the stateliest individual. The exuberant and lustrous shine of baguette-cut rubies and diamonds lend a superior feel to this line.</p>

		</article>

</div>

