<div class="row main">

  	<div class="large-12 columns centered">

    	<h3>The Promess Reef Saver</h3>
    	<a href="collection/catalogue/promess"><h3 class="tp-button right">PROMESS CATALOGUE</h3></a>
    	<hr>

    	<article class="normal-style">

			<p>Following the sea dwellers or just lazy beach boys and girls, the <strong>Promess Diver Reef Saver</strong> is ready for some underwater fun. PVD, 48.5 mm case and water resistance of 500 meters, the Reef Saver let’s you dive down the depths of the sea with comfort and style. The titanium case and rubber strap with titanium PVD clasp have been stoutly composed so as to not corrode with the seawater. A unirotational inner dial is managed by a crown installed at 2 o´clock as well as a screw closure crown for date and time at 3 o'clock.</p>

			<div id="reef-saver-deep">
				<div id="luminova"><img src="images/collections/promess/reef-saver/luminova.png" alt=""></div>
				<div id="reef-saver"><img src="images/collections/promess/reef-saver/reef-saver.png" alt=""></div>
				<div id="metric-rule"><img src="images/collections/promess/reef-saver/metric-rule.png" alt=""></div>
				<div id="diver-content">
					<div id="diver">
						<img src="images/collections/promess/reef-saver/diver.png" alt="">
						<strong id="deep-counter"></strong>
					</div>
					
				</div>
			</div>

			<div id="reef-saver-deep-devices">
				<img src="images/collections/promess/reef-saver/reef-saver-devices.jpg" alt="">
			</div>

			<p><strong>Technical Specifications:</strong></p>

			<ul class="tech-details">
							<li class=""><strong>MOVEMENT:</strong>
								<ul class="tech-details">
									<li><strong>Calibre:</strong> DC 261</li>
									<li><strong>Winding:</strong> Automatic</li>
									<li><strong>Power reserve:</strong> 42 hours</li>
								</ul>
							</li>
							<li><strong>FUNCTIONS:</strong>
								<ul class="tech-details">
									<li>Hours, minutes, seconds. Day indicator</li>
								</ul>
							</li>
							<li><strong>CASE:</strong>
								<ul class="tech-details">
									<li><strong>Dimensions:</strong> 48 x 13 mm</li>
									<li><strong>Material:</strong> Titanium Black, Carbon or Pink Gold Bezel</li>
									<li><strong>Water resistant:</strong> 50 atm</li>
									<li><strong>Glass:</strong> Sapphire</li>
									<li><strong>Back:</strong> Double case back</li>
									<li><strong>Crown:</strong> Ø 10 mm</li>
								</ul>
							</li>
							<li><strong>DIAL:</strong> Black dial with luminova filled indexes. Anti-clockwise rotating. Internal bezel adjustable with crown at 2 o'clock.</li>
							<li><strong>HANDS:</strong> Skeleton with luminescent coating</li>
							<li><strong>STRAP:</strong> Black rubber</li>
							<li><strong>LIMITED EDITION:</strong> Titanium: 222 pieces; Titanium and Carbon: 88 pieces; Titanium and Pink Gold: 88 pieces</li>
				</ul>

			<p>deLaCour in collaboration with Pierre Frolla and Prince Albert of Monaco for “Peace & Sport” and the 69th Formula 1 Grand Prix de Monaco - <a href="http://delacour.ch/news/index.php/delacour-in-collaboration-with-pierre-frolla-and-prince-albert-of-monaco-for-peace-sport/">For more information</a></p>

			<div class="image-video figure">
					<img src="images/videos/operationPoseidon.jpg" />
					<div class="caption">Operation Poseidon</div>
					<a href="javascript:showVideo()"><p class="btn-play">play</p></a>
			</div>

			<div id="video" class="flex-video">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/3OAkJsP785I?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>

		</article>

	</div>

</div>