 <div class="row main">

  <div class="large-12 columns centered">

    <h3>Promess Glamour</h3>
    <a href="collection/catalogue/promess"><h3 class="tp-button right">PROMESS CATALOGUE</h3></a>
    <hr>

    <div class="row">
	    <div class="customize-watch large-12 columns">
			<img src="images/collections/promess-glamour/baguette/blue.png" alt="" class="componente piedras" id="blue" />
			<img src="images/collections/promess-glamour/baguette/green.png" alt="" class="componente piedras" id="green" />
			<img src="images/collections/promess-glamour/baguette/pink.png" alt="" class="componente piedras" id="pink" />
			<img src="images/collections/promess-glamour/baguette/purple.png" alt="" class="componente piedras" id="purple" />
			<img src="images/collections/promess-glamour/baguette/red.png" alt="" class="componente piedras" id="red" />
			<img src="images/collections/promess-glamour/baguette/white.png" alt="" class="componente piedras" id="white" />
			<img src="images/collections/promess-glamour/baguette/yellow.png" alt="" class="componente piedras" id="yellow" />

				
			<img src="images/collections/promess-glamour/baguette/white.png" alt="" id="base"/>
		</div>
	</div>
	<div class="row">
		<div  class="large-12 columns palette">
			<ul>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="blue-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="green-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="pink-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="purple-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="red-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="white-btn"></li>
				<li class="palette-btn piedra-btn" data-componente="piedra" id="yellow-btn"></li>
			</ul>
		</div>
	</div>

	</div>
    	
  </div>
  
</div>