
<div class="row">

	<div class="main large-12 large-centered columns">

 		<h3>The Reflect</h3>
 		<a href="collection/catalogue/reflect"><h3 class="tp-button right">REFLECT CATALOGUE</h3></a>
		<hr>

		<article class="normal-style">

			<div class="large-12 columns">
				<img src="images/collections/reflect/reflectChrono_H.jpg">
			</div>

			<p>The Reflect case is a new creation born from the team’s creative minds and has been in the making for quite some time. It’s a perfect balance between modernity and the tradition of combining a strong personality with timeless quality.</p>

			<p>The spirit behind this new shape is inspired by the design principles and know-how of the iconic signature shapes of deLaCour: the extended case and horns that embodies the features that were designed by the original creator.</p>

			<p>This smaller sized new model, still sustains the brand’s DNA.</p>

			<p>deLaCour creates a new elliptical case with eight smoothed angles and decorated with distinctive screws. The multiple facets of the case reflect light over all the titanium surfaces. On the flanks, appliques embellish the case with circular arcs.<br>The case back features a sapphire crystal glass allowing the owner to take a glimpse at the movement at any given time.</p>

			<div class="large-12 columns img-inside-collection">
				<img src="images/collections/reflect/reflectDetail.jpg">
			</div>

			<h3>Reflect Chrono</h3>

			<p>A powerful and refined design made for easy reading. Encircled counters, power reserve indicator and date calendar at 4 o’clock, highlighted by a flange that supports the minutes numerals.</p>

			<h3>Reflect Chrono Skeleton</h3>

			<p>An elaborate version of this chronograph watch; the aperture offers an exquisitely decorated movement, the transparency adds a touch of magic to the design.</p>

			<h3>Reflect Tourbillon <i>(Coming soon)</i></h3>

			<p>This timepiece is an avant-garde design, thanks to an outstanding cylindrical construction and it’s extremely complex realization, this model offers a perfect visual harmony. This exceptional and accomplished piece suggests a weightless frame, its’ structure consists of ruby tubes used for manufacturing movements.</p>

			<p>The insertion of the ruby tubes, acting as bridges in this movement, is an extraordinary achievement. Indeed, the adjustment of the bridges requires a perfectly perpendicular axe structure in order to insure maximum rigidity.</p>

			<p>The sapphire crystal glasses featured on the back as well as on the side of the case allow a perfect view on this striking manufactured movement.</p>


		</article>

</div>

