
<div class="row">

	<div class="main large-12 large-centered columns">

    <h3>The Saqra</h3>
    <a href="collection/catalogue"><h3 class="tp-button right">TIMEPIECE CATALOGUE</h3></a>
    <hr>

    <div class="row">
				<div class="large-12 columns">

					<div class="slideshow-wrapper">

					<ul data-orbit>
					  <li data-orbit-slide="headline-1">
					    <h3>Saqra II Classic</h3>
					    <img src="images/collections/saqra/slider/saqraIIClassic.jpg" alt="Saqra II Classic" />
					  </li>
					  <li data-orbit-slide="headline-2">
					    <h3>Saqra Petite Freedom</h3>
					    <img src="images/collections/saqra/slider/saqraPetiteFreedom.jpg" alt="Saqra Petite Freedom" />
					  </li>
					  <li data-orbit-slide="headline-3">
					    <h3>Saqra Classic</h3>
					    <img src="images/collections/saqra/slider/saqraClassic.jpg" alt="Saqra Classic" />
					  </li>
					  <li data-orbit-slide="headline-4">
					    <h3>Saqra Bitime</h3>
					    <img src="images/collections/saqra/slider/saqraBitime.jpg" alt="Saqra Bitime" />
					  </li>
					</ul>

				</div>

				</div>
	</div>

	<p>Taking a bold step away from stereotypical rules and regulations deLaCour has created a vibrant and brave design. This Line is inspired by the "shakra" energy centre of the human body, a recurrent source of inspiration for deLaCour. A perfect balance between the softness of the circle and the boldness of the square, the Saqra line offers a range of functions suitable for casual and formal ware.</p>

			<div class="image-video figure">
					<img src="images/videos/chakra.jpg" />
					<div class="caption">The Saqra Inspiration</div>
					<a href="javascript:showVideo()"><p class="btn-play">play</p></a>
			</div>

			<div id="video" class="flex-video">
			  <iframe width="900" height="506" src="https://www.youtube.com/embed/1XSUp0DTIRU?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>

			<p>Adopting a more sporting appearance the Saqra Ego case offers a subtle combination of noble and high-tech materials and introduces deLaCour’s now characteristic extended lugs.</p>

			<p>Complementing the Saqra Ego, the Saqra Petite asserts an elegant yet daring personality for the sophisticated urbanite.</p>
	

  </div>

</div>

