
<div class="row">

<div class="main large-12 large-centered columns">

	<h3>The Saqra Monotourbillon - <i>presented in 2007</i></h3>
	<a href="collection/catalogue"><h3 class="tp-button right">TIMEPIECE CATALOGUE</h3></a>
	<hr>
	<article class="normal-style">

	<p>deLaCour, having established the tradition of presenting their models with dual functions, have broken with custom and given birth to the Saqra MonoTourbillon.</p>

	<p>This piece is the fruit of the collaboration between its designer Pierre Koukjian and a dedicated team of specialists from the watch making industry.</p>

	<p>The tourbillon movement is a creation which requires the highest precision in creating this fascinating mechanism.</p>

	<p>deLaCour offers at a glance, a thrilling view of the inner workings of the piece through the centre of the skeleton dial. The tourbillon is positioned at the nine o’clock position, the power reserve indicator and the visualization of the date, are harmoniously integrated with this time piece of symmetric beauty.</p>

	<aside class="figure">
		<img src="images/collections/monotourbillon/monotourbillonGold.jpg" />
		<div class="caption">The Saqra Monotourbillon</div>
	</aside>


	<p><b>TECHNICAL DETAILS:</b></p>

	<ul class="tech-details">
		<li><b>Dimensions:</b> 46 x 50 x 13 mm</li>
		<li><b>Case Material:</b> 18k Rose Gold</li>
		<li><b>Bezel Material:</b> 18k Rose Gold</li>
		<li><b>Crystal:</b> Sapphire glass</li>
		<li><b>Movement:</b> Mechanical Tourbillon DC 295</li>
		<li><b>Power Reserve:</b> 115 Hours</li>
		<li><b>Functions/Dial:</b> Date indicator, second indicator and power reserve</li>
		<li><b>Bracelet:</b> Crocodile with 18k Rose Gold clasp</li>
		<li><b>Water Resistant:</b> 3atm/30meters/98feet</li>
		<li><b>Limited Edition</b></li>
	</ul>

	</article>	
</div>

</div>