<div class="row">

<div class="main large-10 large-centered columns" id="about">

	<!-- About -->
	<h3>Origins of the deLaCour brand</h3>
	<hr>
	<article>
			<p>Experience and know-how have led the founders of deLaCour to envision and create their own high-end watch brand, thoroughly respecting the codes of the Swiss watchmaking tradition. The brand has to be innovative and unique. </p>

			<p>The founder’s aspirations was to express duality in the brands’ DNA:</p>

			<ul>
				<li>- Classicism and Avant-garde</li>
				<li>- Tradition and Innovation</li>
				<li>- Past and Future</li>
				<li>- Formal and Casual</li>
			</ul>

			<p>This duality that was deeply rooted in 2003 when <a href="http://delacour.ch/collection/bichrono" alt="The Bichrono" title="The Bichrono">the Bichrono</a> watch was launched.</p>

			<p>“We needed a “carrying” name, uppercase and lowercase letters, which is in itself was symbol of achievement and high-end quality. The choice of the name deLaCour suggests a subtle blend and taste for exceptional pieces for the more traditional brands, and at the same time express’s the originality of avant-garde design and craftsmanship”.</p>

			<p>The deLaCour name must be easily identifiable around the world, with an elegant and “noble sounding”, undoubted sense aesthetic and know-how.</p>

			<p>The slogan "Since Tomorrow" is associated with the symbol of modernity and innovation; it evokes an ongoing development that defies time.</p>

			<p>deLaCour and their solgan "Since Tomorrow" are strongly entwined; a timeless choice, a philosophy that inspires the company daily.</p>

			<p>The past and its traditions are reassuring in history; unlike the notion of “tomorrow” that calls to the unknown.</p>

	</article>

</div>

</div>