
<div class="row">

	<div id="collection-page" class="main collection large-12 large-centered columns">

		<h2>THE COLLECTION</h2>

		<a href="collection/catalogue" title="deLaCour Watches Catalogue" alt="deLaCour Watches Catalogue">
			<div class="row full-collection">
					<div class="small-12 columns">
						<h3>TIMEPIECE CATALOGUE</h3>
						<h5>CLICK TO DISCOVER<h5>
					</div>
			</div>
		</a>

		<article>

			<div class="row">

				<div class="large-12 columns">
				<br>

				<h4>WORLD'S FIRST COMPLICATIONS</h4>
					<hr>
				</div>


				<div class="row">
					<div class="large-12 columns">
						<div class="large-6 columns figure">
							<a href="collection/bitourbillon"><img alt="Bitourbillon" title="Bitourbillon" src="images/collections/bitourbillon.jpg" /></a>
							<div class="caption-collections">Bitourbillon</div>
						</div>
						<div class="large-6 columns figure">
							<a href="collection/birepetition"><img alt="Birepetition" title="Birepetition" src="images/collections/birepetition.jpg" /></a>
							<div class="caption-collections">Birepetition</div>
						</div>
					</div>
				</div>

				<h4>COMPLICATIONS</h4>
				<hr>

				<div class="row">
					<div class="large-12 columns">
						<div class="large-6 columns figure">
							<a href="collection/triplezone"><img alt="Triplezone" title="Triplezone" src="images/collections/triplezone.jpg" /></a>
							<div class="caption-collections">Triplezone</div>
						</div>
						<div class="large-6 columns figure">
							<a href="collection/monotourbillon"><img alt="Monotourbillon" title="Monotourbillon" src="images/collections/monotourbillon.jpg" /></a>
							<div class="caption-collections">Monotourbillon</div>
						</div>
					</div>
				</div>

				<h4>FAMILIES</h4><br>
				<h6>(Exclusive Limited Edition)</h6>
					<hr>

				<div class="row">
					<div class="large-12 columns">
						<div class="large-6 columns figure">
							<a href="collection/bichrono"><img alt="Bichrono" title="Bichrono" src="images/collections/bichrono.jpg" /></a>
							<div class="caption-collections">Bichrono</div>
						</div>
						<div class="large-6 columns figure">
							<a href="collection/city"><img alt="City" title="City" src="images/collections/city.jpg" /></a>
							<div class="caption-collections">City</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
						<div class="large-6 columns figure">
							<a href="collection/leap"><img alt="City Leap" title="City Leap" src="images/collections/leap.jpg" /></a>
							<div class="caption-collections">Leap</div>
						</div>
						<div class="large-6 columns figure">
							<a href="collection/saqra"><img alt="Saqra" title="Saqra" src="images/collections/saqra.jpg" /></a>
							<div class="caption-collections">Saqra</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="large-12 columns">
						<div class="large-6 columns figure">
							<a href="collection/reflect"><img alt="Reflect" title="Reflect" src="images/collections/reflect.jpg" /></a>
							<div class="caption-collections">Reflect</div>
						</div>
						<div class="large-6 columns figure">
							<a href="collection/promess"><img alt="Promess" title="Promess" src="images/collections/promess.jpg" /></a>
							<div class="caption-collections">Promess</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		</article>

	</div>

</div>