<div class="row">

<div class="main large-10 large-centered columns" id="about">

	<!-- Philosophy -->
	<h3>PHILOSOPHY</h3>
	<hr>
	<article>
			<p>deLaCour was born from the design of a very special timepiece, <a href="http://delacour.ch/collection/bichrono" alt="The Bichrono" title="The Bichrono">the Bichrono</a>, and other creations have followed naturally. The creative process is what defines deLaCour. In a market saturated by global brands, deLaCour speaks to a niche clientele which values individuality over current trends. To wear a <strong>deLaCour watch</strong> is an affirmation of one’s personality.</p>

			<p>The award-winning slogan “<strong>Since Tomorrow</strong>” defines deLaCour’s conception of creativity. We like to say that, thanks to our constant innovation, the history of the brand is written in the future. deLaCour is a reflection of our time.</p>

			<p>The slogan "<strong>Since Tomorrow</strong>" is associated with the symbol of modernity and innovation; it evokes an ongoing development that defies time.</p>

			<p>deLaCour and its slogan "<strong>Since Tomorrow</strong>" are strongly entwined; a timeless choice, a philosophy that inspires the company daily.</p>

			<p>The past and its traditions are reassuring in history; unlike the notion of “tomorrow” that calls to the unknown.</p>

			<p>The founder’s aspirations are to express duality in the brands’ DNA:</p>

			<ul>
				<li>- Classicism and Avant-garde</li>
				<li>- Tradition and Innovation</li>
				<li>- Past and Future</li>
				<li>- Formal and Casual</li>
			</ul>

			<p>This duality that was deeply rooted in 2003 when <a href="http://delacour.ch/collection/bichrono" alt="The Bichrono" title="The Bichrono">the Bichrono</a> watch was launched.</p>

	</article>

	<!-- ORIGINS OF THE deLaCour NAME -->
	<h3>ORIGINS OF THE deLaCour NAME</h3>
	<hr>
	<article>
			<p>“We needed a “carrying” name, uppercase and lowercase letters, which in itself, is the symbol of achievement and high-end quality. The choice of the name deLaCour suggests a subtle blend and taste for exceptional pieces for the more traditional brands, and at the same time express’s the originality of <strong>avant-garde design</strong> and <strong>craftsmanship</strong>”.</p>

			<p>The deLaCour name must be easily identifiable around the world, with an elegant and “noble sounding”, undoubted sense aesthetic and know-how.</p>

	</article>

	<!-- CORE VALUES -->
	<h3>CORE VALUES</h3>	
	<hr>
	<article>
		<br>
		<h4>Individuality</h4>
		<p><strong>deLaCour designs</strong> are a mark of distinction for those who seek something above the ordinary.</p>

		<h4>Avant-Garde</h4>
		<p>deLaCour looks to the future for inspiration, pushing conventional boundaries to their limits. Modernism is the company’s hallmark.</p>

		<h4>Passion</h4>
		<p>From the seeds of creation right through to the production of a <strong>deLaCour timepiece</strong>, our passion is what guides us.</p>

		<h4>Craftmanship</h4>
		<p>A community of skilled craftsmen and artisans come together to create a deLaCour watch of exceptional quality. Each piece is individually and meticulously <strong>individually handcrafted</strong>.</p>

		<h4>Independence</h4>
		<p>deLaCour is an independent entity, financially and creatively, and does not live in the world of global branding and mass production. This gives us total independence in our values and our artistic perspectives.</p>

		<h4>Exclusivity</h4>
		<p>Each deLaCour model appears in <strong>limited edition</strong> and is made in very small quantities. This respects the <strong>craftsmanship</strong> which goes into each <strong>timepiece</strong> and ensures exclusivity for those who purchase our creations. The product is defined by its quality and its rarity.</p>
	</article>

</div>

</div>