<div class="row">

<div class="main-press-room-contact small-12 small-centered columns">

		<br>
		<div class="small-12 columns">
			<h3 class="small-6 columns">Press</h3>
			<h5 class="small-6 columns"><a href="contact" title="deLaCour contact" alt="deLaCour contact">Receive the latest news</a></h5>
		</div>
		<hr>
		<article class="normal-style">
			
			<div class="row">

				<a href="press/press-release-collection">
					<div class="large-12 columns press-section press-release">
						<h3>Press Release Collection</h3>
					</div>
				</a>

				<!-- <a href="press/press-release-news">
					<div class="large-12 columns press-section press-release-news">
						<h3>Press Release News</h3>
					</div>
				</a> -->

				<a href="press/advertising-campaign">
					<div class="large-12 columns press-section ad-visual">
						<h3>Advertising Campaign</h3>
					</div>
				</a>

			</div>

			<div class="row">
				<div class="large-12 columns email-press">
					<h6>For further information, please feel free to contact us on <a href="mailto:marketing@delacour.ch">marketing@delacour.ch</a></h6>
				</div>
			</div>

		</article>

</div>

</div>