<div class="row">
	<div class="main large-12 large-centered columns">

		<h3>deLaCour Authorized Retailer</h3>
		<hr>

		<div id="boutiques-info">
			<p class="normal-style">This is where to find deLaCour Boutiques and authorized retailers worldwide. Our professional staff is ready to take care of all your questions and requirements.</p>
		</div>

		<div>

			<div class="leyenda">
				<div class="btn-type-store" name="all">
					<a href=""><img src="images/store-locator/dLCMarkerAll_small.png">All</a>
				</div>
				<div class="btn-type-store" name="store">
					<a href=""><img src="images/store-locator/dLCMarker_small.png">Authorised distributor</a>
				</div>
				<div class="btn-type-store" name="boutique">
					<a href=""><img src="images/store-locator/dLCMarkerBoutique_small.png">Boutique</a>
				</div>
				<div class="btn-type-store" name="corner">
					<a href=""><img src="images/store-locator/dLCMarkerCorner_small.png">Corner</a>
				</div>
			</div>

			<input id="pac-input" class="controls" type="text" placeholder="Search by Country, City, Places...">
        
			<div id="map"></div>

		</div>

	</div>
</div>		