<div class="row main">
	<div class="large-12 large-centered columns">

		<h3>deLaCour Authorized Retailer</h3>
		<hr>

		<div id="boutiques-info">
					<p class="normal-style">This is where to find deLaCour Boutiques and authorized retailers worldwide. Our professional staff is ready to take care of all your questions and requirements.</p>
				</div>

		<div id="map">

	    	<iframe width='100%' height='700' frameborder='0' src='http://delacour.cartodb.com/viz/5a6f9d3a-580d-11e3-b750-5404a6a69006/embed_map?title=false&description=false&search=true&shareable=false&cartodb_logo=true&layer_selector=false&legends=false&scrollwheel=true&sublayer_options=1&sql=&zoom=3&center_lat=29.942130778233075&center_lon=111.39125778125003'></iframe>

	  	</div>

	</div>
</div>